.wrapper{
  height: 100vh;
}

#Footer {
    width: 100%;
    background-color: #333333;
  }
  
  #tsaFooter {
    width: 960px;
    background-color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 120%;
    margin: 0 auto;
    padding-bottom: 25px;
    color: #ddd;
  }
  
  #tsaFooter li {
    list-style-type: none;
    line-height: 180%;
    list-style: none;
    font-size: 13px;
  }
  
  #tsaFooter a {
    color: #ddd;
    text-decoration: none;
    line-height: 160%;
  }
  
  #tsaFooter a:hover {
    color: #ffffff;
  }
  
  #tsaFooterPromo {
    width: 100%;
    background: #222;
    margin: auto;
    text-align: center;
    height: 50px;
    color: #ffffff;
  }
  
  #tsaFooterPromo {
    float: left;
    width: 100%;
    min-height: 50px;
    color: #fff;
    text-align: center;
    background: #222;
    opacity: 0.5;
  }
  
  #tsaFooter #containerWrap {
    margin: 0 auto;
  }
  
  #tsaFooter #tsaFooterSocial {
    text-align: center;
    margin: auto;
    width: 540px;
  }
  
  #tsaFooter #tsaFooterSocial li {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 0 10px;
    line-height: 120%;
  }
  
  #tsaFooter .tsa-footer-heading {
    color: #aaaaaa;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  
  #tsaFooter #tsaContactUs .tsa-footer-heading {
    color: #aaaaaa;
    font-size: 19px;
  }
  
  #tsaFooter .tsa-phone-number {
    font-size: 20px;
    margin: 0px 0 12px 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
  #tsaFooter .tsa-phone-number a {
    line-height: 170%;
  }
  
  .tsa-footer-cta{
  text-decoration: none;
    margin:5px 10px 0 0; 
    width: 35%;
    float:left;
    color:#ddd;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    text-align: center; 
  }
  
  .tsa-footer-cta:hover{
   border: 1px solid #ffffff;
    color:#ffffff;
  }
  
  #tsaFooter .tsa-feedback-button {}
  
  #tsaFooter .tsa-feedback-button a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  }
  
  #tsaFooter .tsa-feedback-button a:hover {
    border: 1px solid #ffffff;
  }
  
  #tsaFooter .tsa-footer-column {
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14px;
    width: 18%;
    float: left;
  }
  
  #tsaFooter .tsa-footer-column ul {
    padding: 0;
  }
  
  #tsaFooter .tsa-footer-help {
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14px;
    width: 21%;
  }
  
  #tsaFooter .tsa-footer-help div {
    float: left;
  }
  
  #tsaFooter #tsaContactUsLarge {
    display: block;
    padding-right: 15px;
  }
  
  #tsaFooter #tsaContactUs {
    display: none;
  }
  
  #tsaFooter #tsaContactUsLarge .tsa-feedback-button a {
    font-size: 13px;
  }
  
  #tsaFooter .legal {
    color: #aaaaaa;
    font-size: 12px;
    display: none;
    clear: both;
    margin: auto;
  }
  
  #tsaFooter .legal a {
    float: left;
    color: #ffffff;
    margin: 0;
  }
  
  #tsaFooter .legal p {
    margin: 0;
  }
  
  #tsaFooter .legalBig p {
    color: #aaaaaa;
    font-size: 12px;
    padding: 0;
    clear: both;
    margin: auto;
    display: block;
    text-align: center;
  }
  
  #tsaFooter .clearAll {
    clear: both;
  }
  
  #tsaFooter .left {
    float: left;
  }
  
  #tsaFooter .legal .left p {
    color: #aaaaaa;
  }
  
  #tsaFooter .right {
    float: right;
  }
  
  #tsaFooter .mobileSwitch {
    display: none;
  }
  
  #tsaFooter .largeSwitch {
    display: inline-block;
  }
  
  #tsaFooter .tsa-social-icon {
    display: block;
    width: 34px;
    height: 34px;
    margin: 30px 5px;
  }
  
  #tsaFooter #tsaInstagram {
    background-position: 4px -1007px;
  }
  
  #tsaFooter #tsaTwitter {
    background-position: 2px -1106px;
  }
  
  #tsaFooter #tsaFacebook {
    background-position: 4px -1206px;
  }
  
  #tsaFooter #tsaPinterest {
    background-position: 5px -1306px;
  }
  
  #tsaFooter #tsaYouTube {
    background-position: 4px -1409px;
  }
  
  #tsaFooter #tsaGooglePlus {
    background-position: 4px -1505px;
  }
  
  #tsaStadium {
    display: block;
    margin-top: 10px;
    width: 67px;
    height: 56px;
    padding: 20px 5px 0 5px;
  }
  /******************************************************************
  
  FOOTER | 2X IMAGES | ALL SCREENS THAT SUPPORT THEM
  
  ******************************************************************/
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    #tsaFooter .tsa-social-icon {
      background-size: 32px;
    }
    #tsaStadium {
      background-size: 150px;
    }
  }
  /******************************************************************
  
  FOOTER | SMALL PHONE | 300px - 413px Device Width
  
  *******************************************************************/
  
  @media only screen and (min-width: 0em) and (max-width: 25.875em) {
    #tsaFooter {
      width: 320px;
    }
    #tsaFooter .mobileSwitch {
      display: block;
    }
    #tsaFooter .largeSwitch {
      display: none !important;
    }
    #tsaFooter #tsaOurStores {
      display: none !important;
    }
    #tsaFooter .tsa-footer-heading {
      font-size: 15px !important;
    }
    #tsaFooter .tsa-footer-column {
      width: 150px;
    }
    #tsaFooter .tsa-footer-help {
      width: 150px;
    }
    #tsaFooter #tsaContactUs {
      display: block;
    }
    #tsaFooter #tsaContactUs div {
      font-size: 15px;
    }
    #tsaFooter #tsaContactUs a {
      font-size: 19px;
    }
    #tsaFooter #tsaFooterSocial li {
      padding: 0px 6px 0 6px;
    }
    #tsaFooter #tsaFooterSocial ul {
      padding-left: 0;
    }
    #tsaFooter .legal {
      padding: 10px;
      width: 260px;
      display: block;
    }
    #tsaFooter .legalBig {
      display: none;
    }
    #tsaFooter #tsaContactUs .tsa-feedback-button a {
      font-size: 13px;
      line-height: 140%;
      padding: 5px 24px;
    }
    #tsaFooter #tsaContactUsLarge {
      display: none;
    }
    #tsaFooter a,
    #tsaFooter .tsa-phone-number a {
      line-height: 240%;
    }
    #tsaFooter .tsa-footer-heading {
      font-size: 16px !important;
    }
    #tsaFooter #tsaDesktopSiteLink {
      line-height: 140%;
    }
    #tsaFooter .tsa-social-icon {
      margin: 10px 3px;
    }
    
    .tsa-footer-cta{width: 90%;}
  }
  /******************************************************************
  
  FOOTER | WIDE PHONE | 414px - 599px Device Width
  
  ******************************************************************/
  
  @media only screen and (min-width: 25.875em) and (max-width: 37.4375em) {
    #tsaFooter {
      width: 414px;
    }
    #tsaFooter #containerWrap {
      padding-left: 10px;
    }
    #tsaFooter .mobileSwitch {
      display: block;
    }
    #tsaFooter .tsa-footer-heading {
      font-size: 15px !important;
    }
    #tsaFooter .largeSwitch {
      display: none !important;
    }
    #tsaOurStores {
      display: none !important;
    }
    #tsaFooter .tsa-footer-column {
      width: 180px;
      padding-left: 20px;
    }
    #tsaFooter .tsa-footer-help {
      width: 150px;
      padding-left: 20px;
    }
    #tsaFooter #tsaContactUs div {
      font-size: 18px;
    }
    #tsaFooter #tsaContactUs a {
      font-size: 19px;
    }
    #tsaFooter #tsaFooterSocial ul {
      padding-left: 16px;
    }
    #tsaFooter #tsaFooterSocial li {
      padding: 0px 10px 0 10px;
    }
    #tsaFooter .legal {
      padding: 10px;
      width: 300px;
      display: block;
    }
    #tsaFooter .legalBig {
      display: none;
    }
    #tsaFooter #tsaContactUs .tsa-feedback-button a {
      font-size: 13px;
      line-height: 140%;
      padding: 5px 24px;
    }
    #tsaFooter #tsaContactUs {
      display: block;
    }
    #tsaFooter #tsaContactUsLarge {
      display: none;
    }
    #tsaFooter a,
    #tsaFooter .tsa-phone-number a {
      line-height: 240%;
    }
    #tsaFooter .tsa-footer-heading {
      font-size: 16px !important;
    }
    #tsaFooter #tsaDesktopSiteLink {
      line-height: 140%;
    }
    #tsaFooter .tsa-social-icon {
      margin: 10px 3px;
    }
    
    .tsa-footer-cta{width: 90%;}
    /*  #tsaFooter a {border-bottom: 1px solid #666;}
    #tsaFooter #tsaFooterSocial a,
    #tsaFooter .tsa-feedback-button a {border-bottom: none;}*/
  }
  /******************************************************************
  
  FOOTER | SMALL TABLET | 600px - 767px Device Width
  
  ******************************************************************/
  
  @media screen and (min-width: 37.5em) and (max-width: 47.9375em) {
    #tsaFooter {
      width: 600px;
    }
    #tsaFooter .mobileSwitch {
      display: none !important;
    }
    #tsaFooter #containerWrap {
      width: 524px;
      ;
      padding-left: 12px;
    }
    #tsaFooter .largeSwitch {
      display: inline-block;
    }
    #tsaFooter .tsa-footer-column {
      width: 31%;
      padding-left: 12px;
    }
    #tsaFooterSocial {
      height: 85px;
    }
    #tsaFooterSocial li {
      padding: 0 10px;
    }
    /*  #tsaFooter #tsaContactUs .tsa-feedback-button {width:80% !important;}*/
    
    #tsaFooter .tsa-footer-help {
      width: 40%;
    }
    /*  #tsaFooter .tsa-footer-help div{width:100% ;}*/
    
    #tsaFooter .legal {
      padding: 0 10px 10px;
      width: 390px;
      padding-right: 15px;
      display: block;
    }
    #tsaFooter .legal a {
      float: right;
    }
    #tsaFooter .legalBig {
      display: none;
    }
    #tsaFooter #tsaContactUs .tsa-feedback-button a {
      font-size: 12px;
    }
    #tsaFooter #tsaContactUs {
      display: block;
    }
    #tsaFooter #tsaContactUsLarge {
      display: none;
    }
  }
  /******************************************************************
  
  FOOTER | LARGE TABLET | 768px - 959px Device Width
  
  ******************************************************************/
  
  @media screen and (min-width: 48em) and (max-width: 59.9375em) {
    #tsaFooter {
      width: 600px;
    }
    #tsaFooter .mobileSwitch {
      display: none !important;
    }
    #tsaFooter .largeSwitch {
      display: inline-block;
    }
    #tsaFooter .tsa-footer-column {
      width: 23%;
    }
    #tsaFooter .tsa-footer-column a {
      font-size: 12px;
    }
    #tsaFooter #tsaFooterSocial {
      width: 600px;
    }
    #tsaFooter #tsaFooterSocial li {
      padding: 0px 10px;
    }
    #tsaFooter .tsa-footer-help {
      width: 100%;
    }
    #tsaFooter .tsa-footer-help .tsa-footer-heading {
      font-size: 16px !important;
    }
    #tsaFooter .tsa-footer-help div {
      margin-right: 21px;
    }
    #tsaFooter .legal {
      padding: 0 10px 10px;
      width: 400px;
      padding-right: 75px;
      display: block;
    }
    #tsaFooter .legalBig {
      display: none;
    }
    #tsaFooter #tsaContactUs .tsa-feedback-button a {
      font-size: 13px;
    }
    #tsaFooter #tsaContactUs {
      display: block;
    }
    #tsaFooter #tsaContactUsLarge {
      display: none;
    }
    #tsaFooter .tsa-phone-number {
      font-size: 20px;
      margin: 0px 30px 10px 0;
    }
  }
  /******************************************************************
  
  FOOTER | WIDE DESKTOP | 1200px+ Device Width
  
  ******************************************************************/
  
  @media screen and (min-width: 76.25em) {
    #tsaFooter {
      width: 1120px;
    }
    #tsaFooter #tsaFooter a {
      font-size: 1.2em;
    }
    #tsaFooter .tsa-footer-heading {
      font-size: 19px;
    }
    #tsaFooter .mobileSwitch {
      display: none !important;
    }
    #tsaFooter .largeSwitch {
      display: inline-block;
    }
    #tsaFooter .tsa-footer-column {
      width: 18%;
      float: left;
    }
    #tsaFooter #tsaFooterSocial {
      width: 540px;
    }
    #tsaFooter #tsaFooterSocial li {
      padding: 0 10px 10px;
    }
    #tsaFooter .tsa-footer-help {
      width: 18%;
      float: left;
    }
    #tsaFooter .legal {
      display: none;
    }
    #tsaFooter .legalBig {
      display: block;
    }
    #tsaFooter #tsaFooter div.legalBig p {
      font-size: 12px;
    }
    #tsaFooter #tsaContactUsLarge .tsa-feedback-button a {
      font-size: 13px;
    }
    #tsaFooter #tsaContactUsLarge {
      display: block;
      padding-right: 45px;
    }
    #tsaFooter #tsaContactUs {
      display: none;
    }
    #tsaFooter li {
      font-size: 14px;
    }
  }
  /******************************************************************
  
  FOOTER PROMO | Promo Container | STANDARD DESKTOP | 960px Device Width
  
  *******************************************************************/
  
  #tsaPromoContainer {
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    width: 960px;
  }
  
  #footerSignup {
    width: 410px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    float: left;
  }
  
  #footerSignup p {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    color: #aaaaaa;
  }
  
  #footerSignup p strong {
    color: #ffffff;
  }
  
  #Footer #footerSignupInput {
    float: left;
    width: 315px;
    height: 40px;
    margin-top: 0;
    padding-left:5px;
    background-color: #ffffff;
  }
  
  #footerSignupForm {
    background-color: #ffffff;
    padding: 2px;
    height: 45px;
    margin-top: 0px;
    display: block;
    position: relative;
  }
  
  #footerSignup form input {
    border: none;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0;
  }
  
  #footerSignup input[type=submit] {
    width: 55px;
    height: 45px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #666666;
    font-size: 12px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0;
  }
  
  #signUpButtonMobile {
    display: none;
  }
  
  #footerGiftCard {
    width: 220px;
    height: 75px;
    float: left;
    display: inline-block;
    margin: 30px 0 0 35px;
    
    background-position-y:-100px\0; 
  
    display: block;
    background-size: 140px;
  }
  
  #footerGiftCard a {
    float: left;
    padding: 16px 0 0 110px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  #footerLeague {
    width: 220px;
    display: inline-block;
    float: left;
    margin: 20px 0 0 35px;
  }
  
  #footerLeague a {
    float: left;
    margin: 0 0 0 10px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  #leagueTitle {
    display: inline-block;
    background-size: 160px;
    width: 132px;
    padding: 30px 5px 0 0;
    margin-top: 10px;
  }
  
  #footerLeagueIMG {
    display: inline-block;
    margin-top: 10px;
    width: 62px;
    height: 56px;
    padding: 20px 5px 0 5px;
    float: left;
    background-size: 140px;
  }
  
  /******************************************************************
  
  FOOTER PROMO | 2X IMAGES | ALL SCREENS THAT SUPPORT THEM
  
  ******************************************************************/
  
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
    #footerGiftCard {
      background-size: 140px;
    }
    #leagueTitle {
      background-size: 160px;
    }
    #footerLeagueIMG {
      background-size: 140px;
    }
  }
    /******************************************************************
  
  FOOTER PROMO | SMALL PHONE | 300px - 413px Device Width
  
  *******************************************************************/
    
    @media only screen and (min-width: 0em) and (max-width: 25.875em) {
      #tsaFooterPromo {
        min-height: 160px;
      }
      #tsaPromoContainer {
        width: 320px;
      }
      #footerSignup {
        width: 95%;
      }
      #footerSignup form input {
        height: 33px;
      }
      #footerSignup form {
        height: 40px;
      }
      #footerSignup input[type=submit] {
        width: 40px;
        height: 40px;
        float: right;
      }
      #footerSignup p {
        font-size: 15px;
      }
      #Footer #footerSignupInput {
        width: 245px;
        height: 33px;
      }
      #signUpButtonMobile {
        display: block;
      }
      #signUpButtonDesktop {
        display: none;
      }
      #footerGiftCard {
        width: 155px;
        background-size: 100px;
        background-position: 5px -45px;
        margin: 0 0 0 5px;
      }
      #footerGiftCard a {
        font-size: 11px;
        padding: 30px 0 0 80px;
      }
      #footerLeague {
        width: 160px;
        margin: 0;
      }
      #leagueTitle {
        width: 95px;
        margin-top: 0;
        background-size: 110px;
        background-position: 10px -295px;
      }
      #footerLeague a {
        font-size: 11px;
        margin: 10px 0 0 9px;
      }
      #footerLeagueIMG {
        width: 42px;
        background-size: 100px;
        background-position: 5px -129px;
      }
    }
    /******************************************************************
  
  FOOTER PROMO | WIDE PHONE | 414px - 599px Device Width
  
  ******************************************************************/
    
    @media only screen and (min-width: 25.875em) and (max-width: 37.4375em) {
      #tsaFooterPromo {
        min-height: 160px;
      }
      #tsaPromoContainer {
        width: 414px;
        min-height: 160px;
      }
      #footerSignup {
        width: 95%;
      }
      #footerSignup form input {
        height: 40px;
      }
      #footerSignup form {
        height: 40px;
      }
      #footerSignup input[type=submit] {
        width: 75px;
        height: 40px;
        float: right;
      }
      #footerSignup p {
        font-size: 18px;
      }
      #Footer #footerSignupInput {
        width: 305px;
        height: 33px;
      }
      #footerGiftCard {
        width: 180px;
        background-size: 100px;
        background-position: 5px -45px;
        margin: 0 0 0 25px;
      }
      #footerGiftCard a {
        font-size: 11px;
        padding: 30px 0 0 80px;
      }
      #footerLeague {
        width: 180px;
        margin: 0 0 0 25px;
      }
      #leagueTitle {
        width: 120px;
        background-size: 110px;
        background-position: 10px -295px;
        margin-top: 0;
      }
      #footerLeague a {
        font-size: 11px;
        margin: 10px 0 0 9px;
      }
      #footerLeagueIMG {
        width: 42px;
        background-size: 100px;
        background-position: 5px -120px;
        margin-top: 0;
      }
    }
    /******************************************************************
  
  FOOTER PROMO | SMALL TABLET | 600px - 767px Device Width
  
  ******************************************************************/
    
    @media screen and (min-width: 37.5em) and (max-width: 47.9375em) {
      #tsaPromoContainer {
        width: 540px;
      }
      #footerSignup {
        width: 300px;
      }
      #footerSignup p {
        font-size: 15px;
      }
      #Footer #footerSignupInput {
        width: 225px;
      }
      #footerLeague {
        width: 215px;
        margin: 15px 0 0 15px;
      }
      #footerLeague a {
        font-size: 14px;
      }
      #footerGiftCard {
        display: none;
      }
    }
    /******************************************************************
  
  FOOTER PROMO | LARGE TABLET | 768px - 959px Device Width
  
  ******************************************************************/
    
    @media screen and (min-width: 48em) and (max-width: 59.9375em) {
      #tsaPromoContainer {
        width: 620px;
      }
      #footerSignup {
        width: 355px;
      }
      #Footer #footerSignupInput {
        width: 270px;
        margin-top: 0;
        height: 38px;
      }
      #footerSignup input[type=submit] {
        width: 60px;
      }
      #signUpButtonDesktop {
        padding: 3px;
      }
      #footerGiftCard {
        display: none;
      }
      #footerLeague a {
        font-size: 14px;
      }
    }
    /******************************************************************
  
  FOOTER PROMO | WIDE DESKTOP | 1200px+ Device Width
  
  ******************************************************************/
    
    @media screen and (min-width: 76.25em) {
      #tsaPromoContainer {
        width: 1120px;
      }
      #footerSignup {
        width: 480px;
        height: 90px;
      }
      #Footer #footerSignupInput {
        width: 405px;
      }
      #footerGiftCard {
        margin-left: 85px;
      }
      #footerLeague {
        margin-left: 85px;
      }
    }
  